
body {
  background-image: url("https://images.unsplash.com/photo-1425082661705-1834bfd09dca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80");
  background-color: #cccccc;
  background-repeat: no-repeat; 
  background-size: cover;
  
  
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: rosybrown;
  }
  
  h1,h2, h3 {
    display: flex;
    justify-content: flex-start;
    color: black;
    margin: 10px;
    font-family: 'Kumbh Sans', sans-serif;
  }

  .navigation{
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  .navigation a {
    text-decoration: none;
    display: inline;
    padding: 1em;
    color: black;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold; 
  }
  
  .navigation a:hover {
    background: lightgrey;
  }
  
  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
  }